.column {
    transition: all 0.1s;

    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    background-color: #ccc;
    border: 2px solid black;
    border-radius: 5px;
    margin: 2px;
}

#columns {
    display: flex;
}

.column.over {
    border-style: dashed;
}

